
h1, p {
    text-align: center;
}
h3 {
    text-align: center;
}

body, html {
    height: 100%;
    margin: 0;
    font-size: 32px;
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color:  white;
    background-color: #666;
}
.main {
    border-style: solid;
    border-color: white;
    background-color: blue;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 100px;
}

.button {
    background-color: #666;
    color: white;
    border: white;
    border-style: solid;
    border-radius: 50%;
    font-size: 20px;
    margin-right: 20px;
    cursor: pointer;
  }

.button-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    word-break: keep-all;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; 
    margin-left: 30px;
    margin-right: auto;
}
#seconds, #tens {
    font-size: 2em;
}